*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.bg-main{
    height: 100vh;
    width: 100vw;
    /* background-color: beige; */
    color: white;
}
.nav{
    height: 10%;
    width: 100%;
    background-color: rgb(122, 113, 113);
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    display: flex;
    justify-content: center;
    gap: 90px;
    font-size: 30px;
    align-items: center;
    color: white;
    list-style: none;
}
.list li a{
    color: black;
}
.list li:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
    border-radius: 5px;
}
.container{
    height: 90%;
    width: 100%;
    background-image: linear-gradient(to top right, black, grey,white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    height: 80%;
    width: 30%;
    border: 3px solid black;
    background-color: rgba(37, 37, 245, 0.612);
    /* backdrop-filter: blur(10px); */
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}
.heading{
    text-align: center;
    font-size: 50px;
}
.div{
    display: flex;
    margin-left: 20px;
}
p{
    margin-top: 14px;
    margin-left: 5px;
}